<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bedu.librerias">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Librerias">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ToastyActivity"
            android:label="TOASTY" />
        <activity
            android:name=".ChartActivity"
            android:label="CHART" />
        <activity
            android:name=".ShortbreadActivity"
            android:label="SHORT BREAD" />
        <activity
            android:name=".FrescoActivity"
            android:label="FRESCO" />
    </application>

</manifest>